body {
  box-sizing: border-box;
  font-family: sans-serif;
}

#login-page {
  width: 460px;
  margin: 0 auto;
}


form input {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

form label {
  font-weight: bold;
  width: 100%;
  box-sizing: border-box;
}

form div {
  margin: 16px 0px;
}

input[type=text],
input[type=password] {
  border: 1px solid lightgray;
}

input[type=text]:focus,
input[type=password]:focus {
  outline: 0;
}

.form-grp {
  position: relative;
}

.form-grp .fa {
  position: absolute;
  top: 42%;
  right: 8%;
  display: none;
  font-size: 25px;
}

.fa-times {
  color: red;
}

.fa-check {
  color: #72D872;
}

.alert {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}


input.valid {
  border-color: #72D872;
}

input.invalid {
  border-color: red;
}